{
    "parser": "babel-eslint",
    "extends": [
      "standard",
      "standard-react"
    ],
    "plugins": [
      "babel",
      "react",
      "promise"
    ],
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "globals": {
      "__DEV__": false,
      "__TEST__": false,
      "__PROD__": false,
      "__COVERAGE__": false
    },
    "rules": {
      "key-spacing": 0,
      "jsx-quotes": [
        2,
        "prefer-single"
      ],
      "max-len": [
        2,
        120,
        2
      ],
      "object-curly-spacing": [
        2,
        "always"
      ],
      "no-const-assign": "warn",
      "no-this-before-super": "warn",
      "no-undef": "warn",
      "no-unreachable": "warn",
      "no-unused-vars": "warn",
      "constructor-super": "warn",
      "valid-typeof": "warn",
      "no-extra-semi": "warn"
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    }
  }